@if (isMobile()) {
  <app-mobile-nav />

  <main class="mobile-page-wrapper">
    @if (currentTab() === 'home') {
      <app-mobile-hero />
    }
    @else if (currentTab() === 'projects') {
      <app-mobile-projects />
    }
    @else if (currentTab() === 'skills') {
      <app-mobile-skills />
    }
    @else if (currentTab() === 'contact') {
      <app-mobile-contact />
    }
  </main>

  <app-mobile-tabbar (tabChanged)="onTabChange($any($event))" />
}

@else {
  <app-header />
  <main class="desktop-view">
    <app-hero />
    <app-skills />
    <app-projects />
    <app-contact />
  </main>
  <app-footer />
}
